$clr-tomato:hsl(4, 100%, 67%, );
$clr-tomato-background:hsl(4, 100%, 67%, .25);
$clr-dark-slate-gray:hsl(234, 29%, 20%);
$clr-charcoal-grey:hsl(235, 18%, 26%);
$clr-grey:hsl(231, 7%, 60%);
$clr-white:hsl(0, 0%, 100%);

$fw-normal:400;
$fw-bold:700;

$border-radius:10px;